body {
  background-color: #747474;
}

#user {
  width:5%;
  height:5%;
}

#logo {

}

#loginForm {
  height: 50vh;
}



.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.dashboard-cards {
  background-color: blue;
  float: left;
}

.spaceLeft {
  margin-left: 25px;
}

.spaceBottom {
  margin-bottom: 5px;
}

#row {
  margin-top: 10px;
}

#dashboard {

}
