body {
  background-color: #747474;
}

#logo {

}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.dashboard-cards {
  background-color: blue;
  float: left;
}

.spaceLeft {
  margin-left: 25px;
}

.spaceBottom {
  margin-bottom: 5px;
}

#row {
  margin-top: 10px;
}

#nav {
  margin-bottom: 10px;
}
